.container {
  display: inline-block;
  vertical-align: top;
}

.title {
  text-align: center;
}

.section {
  border-top: 1px dotted #183549;
  padding-top: 1.5rem !important;
}

.section:first-child {
  border-top: none;
}

.code {
  margin: 1rem;
}

.code pre {
  background: white !important;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  overflow-x: scroll !important;
}

.code pre code {
  font-family: 'Source Code Pro', monospace !important;
  font-size: 11px;
  font-weight: 500;
}

.code pre::-webkit-scrollbar {
  background: white;
  border-radius: 40px;
  height: 5px;
}

.code pre::-webkit-scrollbar-thumb {
  background: LightGrey;
  border-radius: 40px;
}
