.container {
  display: flex;
  vertical-align: top;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  background: yellow;
}

.title {
  width: 100%;
  display: block;
  text-align: center;
}
