.container {
  vertical-align: top;
  height: 100%;
  display: inline-block;
  min-width: 30rem;
}

.errorPrompt {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Lato';
  background: #8f3230;
  color: white;
  padding: 1rem 2rem;
}

.window {
}

@font-face {
  font-family: 'LatoBold';
  src: url('../static/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url('../static/Lato-Light.ttf') format('truetype');
}

@keyframes title {
  0% {opacity:1;}
  49% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

.titleAnimate {
  animation-name: title;
  animation-duration: 0.3s;
}

.word {
  font-family: 'LatoBold';
  color: #f9f7ec;
}

.title {
  text-align: center;
  background: #183549;
  box-shadow: 0px 1px 5px Grey;
  border-radius: 0px 30px 30px 0px;
  width: 40%;
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
}

.options {
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 3rem;
  max-height: 2rem;
  float: right;
}

.viewOptionsLabel {
  display: inline-block;
}

.switch {
  display: inline-block;
  vertical-align: middle;
}

.switch:hover {
  pointer: cursor;
}

.button {
  background: #183549;
  color: white;
  border: none;
  padding: 1rem 2rem;
  outline: none;
  font-family: 'Lato';
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  width: 3rem;
  text-align: center;
  font-family: 'Lato';
  font-size: 15px;
  opacity: 0.5;
  color: #f9f7ec;
  background: #183549;
  display: inline-block;
  padding: 5px 20px;
  transition: opacity 0.2s;
}

.leftLabel {
  border-radius: 20px 0px 0px 20px;
}

.rightLabel {
  border-radius: 0px 20px 20px 0px;
}

input[type=radio]:checked + label{
  opacity: 1;
  color: #f9f7ec;
  background: #183549;
}

input[type=radio]:checked + label:hover {
  cursor: default;
}

input[type=radio]:not(:checked) + label:hover {
  background: #294d7a;
  opacity: 0.7;
  cursor: pointer;
}

label + input[type=radio] + label {
}

.header {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
