.container {
  vertical-align: top;
  height: 100%;
  width: 83%;
  display: inline-block;
  margin-left: 17%;
}

.window {
}

@font-face {
  font-family: 'LatoBold';
  src: url('../static/Lato-Bold.ttf') format('truetype');
}

@keyframes title {
  0% {opacity:1;}
  49% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

.titleAnimate {
  animation-name: title;
  animation-duration: 0.2s;
}

.word {
  font-family: 'LatoBold';
  color: #f9f7ec;
}

.title {
  text-align: center;
  /*background: #f5fcf5;*/
  /*background: #f9f7ec;*/
  background: #183549;
  width: 90%;
  margin: 0 auto;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 1px 5px Grey;
  /*color: #0f3333;*/
  font-size: 25px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
