.container {
  height: 100%;
  min-width: 1024px;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  background: white;
  border-radius: 40px;
  width: 8px;
  height: 5px;
}

.container::-webkit-scrollbar-thumb {
  background: LightGrey;
  border-radius: 40px;
}

.content {
  height: 100%;
  min-width: 1024px;
}

.header {
  display: block;
  font-family: 'Lato', 'Roboto';
}

.resizer {
  background: transparent;
  height: 100%;
  width: 0.1rem;
  position: absolute;
  top: 0;
}

.resizer:hover {
  cursor: col-resize;
}
