.container {
  height: 100%;
  min-width: 1024px;
  overflow-x: hidden;
}

.content {
  height: 100%;
  min-width: 1024px;
}

.header {
  display: block;
  font-family: 'Lato', 'Roboto';
}

.resizer {
  background: transparent;
  height: 100%;
  width: 1rem;
  position: absolute;
  top: 0;
}

.resizer:hover {
  cursor: col-resize;
}
