.container {
  background: #f9f7ec;
  box-shadow: 0px 0px 5px grey;
  vertical-align: top;
  padding-right: 1%;
  padding-left: 1%;
  display: inline-block;
  position: fixed;
  /*background: #FFFAF0;*/
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
}

.rootSelector {
  margin-bottom: 1rem;
  min-width: 14rem;
}

.button {
  font-family: 'Lato';
  box-shadow: 0px 2px 4px grey;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  background: #183549;
  outline: none;
  border: 0;
  color: #f9f7ec;
  border-radius: 10px;
  transition: all 0.2s;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 4px grey;
  cursor: pointer;
}

.button:active {
  background: #294d7a;
}

.buttonText {
  vertical-align: middle;
}

.homeIcon {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  padding: 0.2rem;
}

.file {
  /*background: blue;*/
}

.directory {
  /*background: red;*/
}

.tree__item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  height: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.tree__item:active {
  color: #294d7a;
  opacity: 0.8;
}

.tree__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../static/Roboto-Black.ttf') format('truetype');
    /* Add other formats as you see fit */
}

.tree__item--displayed {
  font-family: 'RobotoBold';
  color: #183549;
}


@font-face {
  font-family: 'Lato';
  src: url('../static/Lato-Bold.ttf') format('truetype');
    /* Add other formats as you see fit */
}

.header {
  font-family: 'Lato';
  color: #183549;
  font-size: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.icon {
  margin-right: 0.5rem;
  color: black;
}
