.container {
  border-right: 1px solid white;
  padding-right: 4rem;
  padding-left: 1rem;
  background: red;
}

.file {
  /*background: blue;*/
}

.directory {
  /*background: red;*/
}

.tree__item {
  height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tree__item:hover {
  cursor: pointer;
}
